server {
	listen 80 default_server;
	location / {
		proxy_pass              %SERVER%;
		proxy_buffering         off;
		proxy_set_header        Authorization "Basic %AUTH%";
		proxy_http_version      1.1;
		proxy_set_header        Connection "";
		proxy_set_header        Accept-Encoding "";
		sub_filter              "https://%DOMAIN%/" "http://localhost/";
		sub_filter              "http://%DOMAIN%/" "http://localhost/";
		sub_filter_once         off;
		sub_filter_types        *;
	}
}
